<html>
<head>
  <link rel="stylesheet" href="static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
</head>
<body>
  <div class="header">
    <h1>{{translations."lang".title}}</h1>
    <p style="font-size:12px">{{translations."lang".description}}</p>
  </div>
  <div id="navbar">
    <a href="/">{{translations."lang".navbar_index}}</a>
    <a href="/courses">{{translations."lang".navbar_courses}}</a>
    <a class="active" href="/projects">{{translations."lang".navbar_projects}}</a>
    <div class="right">
      <select id="langselect" onchange="changeLang();">
        {{ 
          for i in translations {
            if i==lang {
              "<option value=\"" + i + "\" selected>" + i + translations."i".flag + "</option>"
            } else {
              "<option value=\"" + i + "\">" + i + translations."i".flag + "</option>"
            }
          }
        }}
      </select>
      <a href="/account">Account</a>
    </div>
  </div>

  <div class="contents" style="padding-left:16px">
    <br>
    <p class="center">
    {{
      for i in repos {
        "<div class=\"content\" onclick=\"openProject(&quot;" + i.id + "&quot)\" style=\"--preview: url(&quot;" + i.img_path + "&quot);\">
          <p id=\"date\"> " + i.date + " </p>
          <h2> " + i.name + " </h2>
          <div id=\"" + i.id + "\" class=\"tags\"> </div>
          <p> " + i.desc + " </p>
        </div>"
      }
    }}
    </p>
  </div>
</body>
</html>

<script>
function changeLang() {
  var lang = document.getElementById("langselect").selectedIndex;
  console.log(lang);
  var language = "";
  window.location.replace("/change_lang?redirect=projects?lang=" + lang)
}


function openProject(id) {
  window.location.replace("?project=" + id);
}



function addTag(id, tag, color) {
  var p = document.createElement("p");
  p.innerText = tag;
  p.style="background-color: " + color;
  p.className = "tag";
  document.getElementById(id).appendChild(p);
}
{{
  for i in repos {
    for x in i.tags {
      if x.0 == "github" {""} else {
        "addTag(\"" + i.id + "\",\"" + x.0 + "\",\"" + x.1 + "\");"
      }
    }
  }
}}




</script>


