body {
  --gray: rgb(40,40,40);
  --border-color: rgb(10, 10, 10);
  --hover-border-color: rgb(142, 192, 124);
}




@font-face {
  font-family: 'Fira Code';
  src: url('woff2/FiraCode-Medium.woff2') format('woff2'),
    url("woff/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'DaysOne';
  src: url('DaysOne-Regular.ttf') format('ttf');
  font-weight: 250;
  font-style: normal;
}

body {
  font-family: 'Fira Code';
  background-color: rgb(50,48,47);
  color: white;
  margin: 0;
}



.terminal {
  background-color: rgb(40,40,40);
  height: 60%;
  border-radius: 15px;
  border: 1px solid rgb(142, 192, 124);
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.terminal p {
  display: inline;
}
.commandline {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}


.text {
  margin-left: 20%;
}

.header {
  padding: 30px;
  text-align: center;
}

#navbar {
  z-index: 1;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(40,40,40);
}


#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}
#navbar a:hover {
  background-color: rgb(60,56,54);
  color: white;
}

#navbar a.active {
  background-color: rgb(152,151,26);
  color: white;
}
#navbar a.active:hover {
  background-color: rgb(184,187,38);
}

#navbar select {
  float: left;
  display: block;
  color: #f2f2f2;
  background-color: rgb(40,40,40);
  border-color: rgb(40,40,40);
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}
#navbar select:hover {
  background-color: rgb(60,56,54);
  color: white;
}


.content {
  padding: 16px;
}

.fullw {
  max-width: 80%;
}
.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.right {
  display: block;
  text-align: center;
  float: right;
}





.content {
	width: 60%;
  aspect-ratio: 16/9;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: var(--preview);
  opacity: 0.8;
	

  display: block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;


	padding: 0.5rem;
	box-sizing: border-box;
	border-radius: 0.7rem;
	border: 2px solid var(--border-color);
	box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.112);
	transition: 0.2s;
  position: relative;
}

.content:hover {
  width: 62%;
  aspect-ratio: 15/8.17;
  border-color: var(--hover-border-color);
  opacity: 1;
}
